/venv/
/.idea/.gitignore
/.idea/acy_register.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/vcs.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/test-acy-register.iml
